* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: arial;
  color: #1e2337;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #1e2337;
}

h1 {
  font-size: 4rem;
  color: white;
  padding: 20px;
}

.posts {
  background-color: white;
  padding: 20px;
}

.post-titre {
  font-size: 3rem;
  color: orange;
  padding-top: 20px;
}

.post-extrait {
  font-size: 2rem;
}

.post-hashtag {
  font-weight: 900;
}